*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Bebas neue, sans-serif;
    max-width: 2000px;
}
/* Início da Barra de Navegação */

header{
    background-color: #858080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-style: oblique;
}
header img{
    width: 3rem;
    padding-left: 3.5rem;
}
.img-small{
    padding: 3rem;
    width: 35rem;
}
header ul li{
    display: inline;
    padding: 1rem;
    color: #fff;
    font-size: 1.3rem;
}
header a{
    color: #fff;
}
header .btn{
    padding: 1rem;
    background-color: #6226bc;
    border: none;
    color: #000000;
    font-size: 1.3rem;
    cursor: pointer;
}
header ul li a:hover{
    color: #000000;
}
header .btn:hover{
    background: #5088e8;
    transition: 0.8s;
}
/* Fim da Barra de Navegação */

/* Começo do Corpo do Site */
nav{
    background: url(/styles/background-img.jpg);
    width: 100%;
    height: 130vh;
}
nav section h2{
    text-align: start;
    padding: 3.5rem;
    font-size: 3.5rem;
    text-decoration-color: #000000;
}
nav section h3{
    font-size: 1.4rem;
    display: flex;
    padding-left: 3rem;
    width: 35rem;
}
.info {
    font-style: italic;
    color: black;
}
/* Fim do Corpo do Site*/

/*Início do Rodapé */
footer{
    background-color: #858080;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
footer ul li a{
    color: #fff;
}
.footer-3{
    color: #fff;
    
}
.footer-3 img{
    width: 2.2rem;
    padding: 6px;
}
footer ul li a:hover{
    color: #0f0e0f;
}
/*Fim do Rodapé*/